
body
{
	font-family: "courier new", "Times New Roman", Arial, sans-serif,
}

@font-face 
{
	font-family: 'joli_titre';
	src: url('Police/joli_titre.eot') format('eot');
	src: url('Police/joli_titre.woff') format('woff');
	src: url('Police/joli_titre.svg') format('svg');
	src: url('Police/joli_titre.ttf') format('truetype');
}


h1
{
	font-family: joli_titre,  Arial, sans-serif;
}
h2
{
	font-style: italic;
}
h2 + p
{
	text-align: center;
	font-style: italic;
	font-size: 20px;
	border: solid;
	border-width: 1px;
	border-color: black;
	box-shadow: 2px 2px 1px;

}
h3
{
	color: grey;
	font-style: italic;
	text-align: justify;
	text-decoration: underline;
}
img
{
	float: right;
}
li strong
{
	color: #190cbd;
}
