@font-face {
    font-family: 'bebasregular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff2') format('woff2'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h2
{
    color: #535353;
    font-family: Arial;
    text-decoration: underline;
}

.hautpage
{
	
	text-align: center;
	border-bottom: dotted 1px;
	font-family: bebasregular;
}

body
{
	background : url("fond3.jpg") repeat fixed;
}

.image
{
	box-shadow: 12px 6px 9px black;
	float : right;
}

